/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	/* Typography */
	--step--2: clamp(0.69rem, (0.69rem + 0.02vw), 0.7rem);
	--step--1: clamp(0.83rem, (0.8rem + 0.18vw), 0.94rem);
	--step-0: clamp(1rem, (0.91rem + 0.43vw), 1.25rem);
	--step-1: clamp(1.2rem, (1.04rem + 0.81vw), 1.67rem);
	--step-2: clamp(1.44rem, (1.17rem + 1.36vw), 2.22rem);
	--step-3: clamp(1.73rem, (1.3rem + 2.14vw), 2.96rem);
	--step-4: clamp(2.07rem, (1.42rem + 3.26vw), 3.95rem);
	--step-5: clamp(2.49rem, (1.52rem + 4.82vw), 5.26rem);

	/* Space */
	--space-3xs: clamp(0.31rem, (0.31rem + 0vw), 0.31rem);
	--space-2xs: clamp(0.56rem, (0.54rem + 0.11vw), 0.63rem);
	--space-xs: clamp(0.88rem, (0.85rem + 0.11vw), 0.94rem);
	--space-s: clamp(1.13rem, (1.08rem + 0.22vw), 1.25rem);
	--space-m: clamp(1.69rem, (1.62rem + 0.33vw), 1.88rem);
	--space-l: clamp(2.25rem, (2.16rem + 0.43vw), 2.5rem);
	--space-xl: clamp(3.38rem, (3.24rem + 0.65vw), 3.75rem);
	--space-2xl: clamp(4.5rem, (4.33rem + 0.87vw), 5rem);
	--space-3xl: clamp(6.75rem, (6.49rem + 1.3vw), 7.5rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.31rem, (0.2rem + 0.54vw), 0.63rem);
	--space-2xs-xs: clamp(0.56rem, (0.43rem + 0.65vw), 0.94rem);
	--space-xs-s: clamp(0.88rem, (0.74rem + 0.65vw), 1.25rem);
	--space-s-m: clamp(1.13rem, (0.86rem + 1.3vw), 1.88rem);
	--space-m-l: clamp(1.69rem, (1.4rem + 1.41vw), 2.5rem);
	--space-l-xl: clamp(2.25rem, (1.73rem + 2.61vw), 3.75rem);
	--space-xl-2xl: clamp(3.38rem, (2.81rem + 2.83vw), 5rem);
	--space-2xl-3xl: clamp(4.5rem, (3.46rem + 5.22vw), 7.5rem);

	/* Custom pairs */
	--space-s-l: clamp(1.13rem, (0.65rem + 2.39vw), 2.5rem);
}
