*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	overscroll-behavior: none;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
	overflow-wrap: break-word;
}

ul:where([role=list]) {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
	text-decoration-skip-ink: auto;
	color: inherit;
}

/* Inherit fonts for inputs and buttons */
button,
select,
textarea,
input {
	font: inherit;
	/* fallback to minimum of 16px to avoid mobile Safari zooming into input due to <16px */
	font-size: max(16px, 1em);
	font-family: inherit;
}

input,
button,
dialog,
fieldset,
textarea {
	border: none;
}

input,
button {
	outline-color: transparent;
}

input:not(textarea) {
	line-height: 1;
}

button {
	cursor: pointer;
}

/* https://www.zachleat.com/web/fluid-images/ */
img {
	max-width: 100%;
}

img[width][height] {
	/* Preserve aspect ratio */
	height: auto;
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
	height: auto;
	max-width: none;
	width: 100%;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}

	html:focus-within {
		scroll-behavior: auto;
	}
}