.flex {
	display: flex;
}

.grid {
	display: grid;
}

.block {
	display: block;
}

.place-self-center {
	place-self: center;
}

.place-items-center {
	place-items: center;
}

.place-content-center {
	place-content: center;
}

.align-self-end {
	align-self: end;
}

.justify-content-end {
	justify-content: flex-end;
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.col {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.w-fit-content {
	width: fit-content;
}

.wrap {
	flex-wrap: wrap;
}

.margin-auto {
	margin: auto;
}

.ml-auto {
	margin-left: auto;
}

.min-height-100 {
	min-height: 100vh;
}

.obj-fit_cover {
	object-fit: cover;
}

.text-center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}

.z--1 {
	z-index: -1;
}

.z-1 {
	z-index: 1;
}

.z-0 {
	z-index: 0;
}