.flex {
	display: flex;
}

.grid {
	display: grid;
}

.place-self-center {
	place-self: center;
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-1 {
	flex: 1;
}

.wrap {
	flex-wrap: wrap;
}

.margin-auto {
	margin: auto;
}

.fullwidth {
	width: 100vw;
}

.fullheight {
	height: 100vh;
}

.min-height-100 {
	min-height: 100vh;
}

.obj-fit_cover {
	object-fit: cover;
}

.text-center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}

.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 1;
}

.z--1 {
	z-index: -1;
}
